EmitirMVM/Service References/MVMCreate/MVMCreate3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IBM.FiatGroup.AE.WcfServices.Contracts.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IBM.FiatGroup.AE.WcfServices.Contracts.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DadosMVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataValidadeCNHMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoMarcaVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FornecedorEnvio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FornecedorTransportadora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fornecedores" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCNHMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCPFMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroConhecimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPlacaCarreta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPlacaVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroRGMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PesoBruto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QtdeAjudante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCNHMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoVeiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioCriacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VlrTotalMercadorias" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosMVM" nillable="true" type="tns:DadosMVM" />
</xs:schema>