EmitirMVM/Service References/MVMServiceH/MVMCreate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://elogh.fiat.com.br/ae/servicos/MVMCreate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IBM.FiatGroup.AE.WcfServices.Contracts.Services" />
  <xs:import schemaLocation="https://elogh.fiat.com.br/ae/servicos/MVMCreate.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="EmitirMVM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IBM.FiatGroup.AE.WcfServices.Contracts.Services" minOccurs="0" name="item" nillable="true" type="q1:DadosMVM" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NotasFiscais" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmitirMVMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmitirMVMResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>